.tabs {
    display: flex;
    border-bottom: 2px solid #e0e0e0;
}

.tab {
    padding: 15px 20px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    outline: none;
}

.tab.active {
    color: #00796b;
    border-bottom: 3px solid #00796b;
    background-color: #fff;
}

.news {
    padding: 20px;
}

h2 {
    font-size: 20px;
    color: #00796b;
    margin-bottom: 10px;
}

.document-table {
    width: 100%;
    border-collapse: collapse;
}

.document-table thead th {
    text-align: left;
    color: #888;
    font-size: 14px;
    padding-bottom: 10px;
}

.document-table tbody td {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.document-table tbody tr:hover {
    background-color: #f1f1f1;
}

.download,
.share {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.download:hover,
.share:hover {
    text-decoration: dashed;
}

.see-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #00796b;
    font-weight: bold;
    border: 1px solid #00796b;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.see-more:hover {
    background-color: #00796b;
    color: #fff;
}

.button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #008000;
    /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.news .document h3 {
    margin-bottom: 3px;
}

.news .document p {
    margin-bottom: 0;
}

.news .button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #008000;
    /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.news .button:hover {
    background-color: #006600;
    /* Dark Green */
}