body{
    margin: 0%;
    font-family: "Open Sans", sans-serif;
    background-color: #f2f2f2f2;
}

#header-wrapper {
    display: flex; /* Atur sebagai Flexbox */
    align-items: center; /* Ratakan elemen secara vertikal */
    justify-content: center; /* Pusatkan semua elemen secara horizontal */
    padding: 100em; /* Spasi di sekitar area header */
    background-color: #4169E1; /* Warna latar belakang */
    height: 5.5em;
    position: relative; /* Untuk memastikan konteks tetap */
}

.logo-container {
    position: absolute; /* Letakkan logo di posisi absolut */
    left: 20px; /* Pindahkan logo ke kiri */
}

.logo {
    width: 100px; /* Ukuran logo */
    height: auto; /* Menjaga rasio logo */
}

h1 {
    text-align: center; /* Pastikan teks berada di tengah */
    color: white; /* Warna teks */
    margin: 2em; /* Menghapus margin default */
    font-size: 1.8em; /* Sesuaikan ukuran font */
}
#header-wrapper {
    display: flex; /* Atur sebagai Flexbox */
    align-items: center; /* Ratakan elemen secara vertikal */
    justify-content: center; /* Pusatkan semua elemen secara horizontal */
    padding: 20px; /* Spasi di sekitar area header */
    background-color: #4169E1; /* Warna latar belakang */
    position: relative; /* Untuk memastikan konteks tetap */
}

.logo-container {
    position: absolute; /* Letakkan logo di posisi absolut */
    left: 20px; /* Pindahkan logo ke kiri */
}

.logo {
    width: 100px; /* Ukuran logo */
    height: auto; /* Menjaga rasio logo */
}

h1 {
    text-align: center; /* Pastikan teks berada di tengah */
    color: white; /* Warna teks */
    margin: 0; /* Menghapus margin default */
    font-size: 1.8em; /* Sesuaikan ukuran font */
}


.container {
    background-color: #ffffff; /* Ganti dengan warna latar belakang yang diinginkan */
    padding: 10px 20px;
}

.nav-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: #000; /* Ganti dengan warna tautan yang diinginkan */
    padding: 10px;
    display: block;
}

.nav-links a:hover {
    background-color: #e2e6ea; /* Ganti dengan warna hover yang diinginkan */
    border-radius: 5px;
}

.search-box{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.search-bar{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    max-width: 100%;
    width: 70%;
}

.search-button{
    padding: 10px 20px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
    margin-left: -8px;
}

.info {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 12px;
    order: 1;
    /* background-color: #ffffff; */
}
.g1 {
    width: 300px;
    text-align: center;
}

.box1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
}

.container-doc {
    width: 90%;
    max-width: 917px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    flex-wrap: wrap;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #e0e0e0;
}

.tab {
    padding: 15px 20px;
    flex: 1;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    background-color: #f8f9fa;
    border: none;
    outline: none;
}

.tab.active {
    color: #4169E1;
    border-bottom: 3px solid #4169E1;
    background-color: #fff;
}

.news {
    padding: 20px;
}

h2 {
    font-size: 20px;
    color: #00796b;
    margin-bottom: 10px;
}

.document-table {
    width: 100%;
    border-collapse: collapse;
}

.document-table thead th {
    text-align: left;
    color: #888;
    font-size: 14px;
    padding-bottom: 10px;
}

.document-table tbody td {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.document-table tbody tr:hover {
    background-color: #f1f1f1;
}

.download, .share {
    color: #00796b;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.download:hover, .share:hover {
    text-decoration: dashed;
}

.see-more {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    color: #00796b;
    font-weight: bold;
    border: 1px solid #00796b;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.see-more:hover {
    background-color: #00796b;
    color: #fff;
}

.button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #008000; /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.news .document h3 {
    margin-bottom: 3px;
}

.news .document p {
    margin-bottom: 0;
}

.news .button {
    display: block;
    width: fit-content;
    padding: 10px 20px;
    background-color: #008000; /* Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.news .button:hover {
    background-color: #006600; /* Dark Green */
}

.footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
}

.footer-container{
    background-color: #ffff;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

.footer-title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    max-width: 100%;
    text-align: center;
}

.sns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.sns-item{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #333;
}

.sns-item img{
    width: 24px;
    height: 24px;
}

.footer-note{
    font-size: 14px;
    color: #4169E1;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 600px) {
    .nav-links ul {
        flex-direction: column; /* Mengubah menjadi kolom pada layar kecil */
        align-items: flex-start; /* Menyelaraskan item ke kiri */
    }

    .nav-links li {
        margin: 5px 0; /* Memberikan jarak vertikal antara item */
    }
}

@media (max-width: 600px) {
    .tabs {
        flex-direction: column; /* Mengubah menjadi kolom pada layar kecil */
    }

    .tab {
        margin-bottom: 10px; /* Memberikan jarak antar tombol tab */
        width: 100%; /* Membuat tombol tab memenuhi lebar */
    }

    .document-table {
        display: block; /* Mengubah tabel menjadi block untuk responsivitas */
        overflow-x: auto; /* Menambahkan scroll horizontal jika diperlukan */
    }

    .document-table th, .document-table td {
        display: block; /* Mengubah sel menjadi block */
        text-align: right; /* Mengatur teks ke kanan */
    }

    .document-table th {
        position: absolute; /* Mengatur posisi header */
        left: -9999px; /* Menyembunyikan header dari tampilan */
    }
}

/*-----------------------------------------
    Profile
----------------------------------------*/
.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
}

.profile-akun {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-picture-box {
    flex: 1;
    text-align: center;
    margin-right: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    position: relative;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.edit-photo-button {
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info {
    flex: 2;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

.profile-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-item strong {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.profile-data {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}
/* .logout-form {
    display: flex;
    justify-content: center;
} */

.logout-form {

    float: right;
}

.profile-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

h2 {
    margin-bottom: 20px;
}


/* sementara */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.overlay-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

/*-------------
    Info PPDB 
---------------*/
.news img.ppdb {
    max-width: 70%;  /* Pastikan gambar tidak melebihi lebar kontainer */
    height: auto;    /* Pertahankan rasio aspek gambar */
    margin: 0 auto;  /* Pusatkan gambar secara horizontal */
    display: block;  /* Agar gambar menjadi elemen blok untuk pengaturan margin */
    border-radius: 10px;  /* Membuat sudut gambar lebih lembut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Efek bayangan untuk kedalaman */
}
#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 1.5em;
}
#content img {
    max-width: 47%; /* Mengatur lebar gambar agar tidak terlalu besar */
    height: auto;
}

#content .ppdb {
    /* margin-right: 10px; Memberikan jarak antara gambar */
    margin: auto;
    border-radius: 10px;
}

#content.infob {
    display: flex;              /* Mengaktifkan Flexbox */
    justify-content: center;    /* Pusatkan secara horizontal */
    align-items: center;        /* Pusatkan secara vertikal */
    /* height: 170vh;              Menetapkan tinggi 100% dari viewport untuk pemusatan vertikal penuh */
    border-radius: 50px;        /* Membuat sudut gambar lebih lembut */
    margin: 10px 0;             /* Memberikan jarak atas dan bawah */
}

#content.infob img {
   border-radius: 25px;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
th, td {
    padding: 15px 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s ease, color 0.3s ease;
}
th {
    background: linear-gradient(135deg, #6c7ae0, #4a57b9);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #fff;
}
tr:hover td {
    background-color: #e2e8f0;
    color: #4a57b9;
}
td:first-child {
    font-weight: bold;
    color: #333;
}